SMTP_HOST=smtp.domain.com
SMTP_PORT=587
SMTP_USER=your-email@domain.com
SMTP_PASSWORD=your-password
WEB_SITE_URL=your-website-url
WEB_SITE_LOGO_URL=your-website-logo-url
COLOR_PRIMARY=your-primary-color
COLOR_SECONDARY=your-secondary-color
CONTACT_EMAIL=your-email@domain.com
CONTACT_NAME=YourName
CONTACT_PHONE=your-phone-number
BCC_EMAIL=your-bcc-email@domain.com